
db_plan.md
*.sqlite
*.db
*.sqlite3

.DS_Store
Thumbs.db
security_guide.md

_raw_assets/
*.png
*.svg

ARCHITECTURE.md
architecture.md

ctc_to_gross_explained.docx
ctc_to_gross_explained.pdf
ctc_to_gross_explained.md